<mat-accordion class="mt-3 no-padding-left-right">
  <mat-expansion-panel [expanded]="true" >
    <mat-expansion-panel-header class="div-header-expansion">
      <mat-panel-title>
        Cuadrillas excepcionales
      </mat-panel-title>
    </mat-expansion-panel-header>


    <p-table [value]="listaCudrillasExc" class="mt-3" dataKey="nombre" [expandedRowKeys]="expandedRows" [paginator]="true"
    [rows]="2">
      <ng-template pTemplate="header">
        <tr>
          <th>Cuadrillas</th>
          <th>Cantidad teórica referencial</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-expanded="expanded">
        <tr>
          <td colspan="2">
            <button mat-button [pRowToggler]="row" class="pointer">
              <mat-icon>
                {{ expanded ? 'expand_more' : 'chevron_right' }}
              </mat-icon>
              <b>{{row.nombre}}</b>
            </button>
          </td>
          <td class="text-center">

            <button class="ico-rojo" mat-icon-button [matTooltip]="'Eliminar'" matTooltipClass="tooltip-entorno"
              (click)="eliminarCuadrilla(row)">
              <mat-icon>delete</mat-icon>
            </button>

            <button class="ico-verde-oscuro" mat-icon-button [matTooltip]="'Crear nivel especialidad'"
              matTooltipClass="tooltip-entorno">
              <mat-icon>add</mat-icon>
            </button>

            <button [ngClass]="{'ico-rojo': !row.activo,  'ico-verde-oscuro': row.activo }" mat-icon-button
            [matTooltip]="'Activar/Desactivar'" matTooltipClass="tooltip-entorno"
            (click)="activarDesactivarCuadrilla(row.cuadrillaId)">
            <mat-icon *ngIf="!row.activo">toggle_off</mat-icon>
            <mat-icon *ngIf="row.activo">toggle_on</mat-icon>
          </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-rowData>
        <ng-container *ngFor="let nivel of rowData.niveles">
          <tr>
            <td class="text-right">{{ nivel.nivel }} {{ nivel.especialidad }}</td>
            <td class="text-center">
              {{ nivel.cantidadTeorica}}
            </td>
            <td class="text-center">

              <button class="ico-rojo" mat-icon-button [matTooltip]="'Eliminar'" matTooltipClass="tooltip-entorno">
                <mat-icon>delete</mat-icon>
              </button>

              <button [ngClass]="{'ico-rojo': !nivel.activo,  'ico-verde-oscuro': nivel.activo }" mat-icon-button
                [matTooltip]="'Activar/Desactivar'" matTooltipClass="tooltip-entorno"
                (click)="activarDesactivarMatrizCuadrilla(nivel.matrizCuadrillaId)">
                <mat-icon *ngIf="!nivel.activo">toggle_off</mat-icon>
                <mat-icon *ngIf="nivel.activo">toggle_on</mat-icon>
              </button>
            </td>
          </tr>
        </ng-container>
      </ng-template>
    </p-table>

  </mat-expansion-panel>
</mat-accordion>
