<!-- descomentar para desarrollo /comentar para desarrallo -->
<app-vain-menu class="app-toolbar" usuario="ADMIN" *ngIf="desa"></app-vain-menu>

<!-- menu lateral -->
<div class="menu-container">
  <mat-drawer-container autosize>
    <mat-drawer #snav [mode]="'side'" class="menu-sidenav-content mt-5" [(opened)]="showModuleMenu">
      <mat-nav-list matTooltipPosition="right" [matTooltip]="'Expandir/Contraer Menú'" matTooltipClass="tooltip-entorno"
        (click)="expandMenu()">
        <a class="dropdown-menu-elements" mat-list-item>
          <i class="material-icons ico-azul-claro">
            <ng-container *ngIf="expandedMenu">chevron_left</ng-container>
            <ng-container *ngIf="!expandedMenu">chevron_right</ng-container>
          </i>
          <span [ngStyle]="{
              'font-size': '13px',
              display: expandedMenu === true ? 'flex' : 'none',
              'font-weight': 'bold'
            }">
            Contraer Menú
          </span>
        </a>
      </mat-nav-list>

      <!-- Dashboard -->
      <mat-list matRipple role="list" class="dashboard margin-top-10" routerLink="dashboard" matTooltipPosition="right"
        [matTooltip]="'Dashboard'" matTooltipClass="tooltip-entorno">
        <mat-list-item role="listitem">
          <mat-icon class="ico-azul-claro" [ngStyle]="{
                'margin-left': '-15px'
              }">dashboard</mat-icon>
          <span [ngStyle]="{
                'font-size': '13px',
                display: expandedMenu === true ? 'flex' : 'none',
                'font-weight': 'bold'
              }">
            Dashboard
          </span>
        </mat-list-item>
      </mat-list>

      <!-- Menu dinamico -->
      <mat-accordion>
        <ng-container *ngFor="let itemMenu of moduleMenu; let i = index">
          <mat-expansion-panel class="menu" [expanded]="step === i + 1" (opened)="setStep(i + 1)">
            <!-- (opened)="updateDivStyle()" (closed)="updateDivStyle()" -->
            <mat-expansion-panel-header matTooltipPosition="right" [matTooltip]="itemMenu.menuTitulo"
              matTooltipClass="tooltip-entorno">
              <mat-panel-title>
                <mat-icon class="ico-azul-claro">{{ itemMenu.icono }}</mat-icon>
                <span [ngStyle]="{
                  'font-size': '13px',
                  display: expandedMenu === true ? 'flex' : 'none',
                  'font-weight': 'bold',
                  'padding-top': '3px'
                }">
                  {{ itemMenu.menuTitulo }}
                </span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngFor="let itemSubMenu of itemMenu.menues">
              <div matTooltipPosition="right" [matTooltip]="itemSubMenu.descripcion"
                *ngIf="itemSubMenu.activo && !itemSubMenu.esDeErp" matTooltipClass="tooltip-entorno"
                routerLink="{{itemSubMenu.url}}" class="pointer">
                <div [ngStyle]="{
                  'font-size': '12px',
                  display: step === i + 1 ? 'flex' : 'none',
                  height: '30px',
                  'margin-left': expandedMenu ? '30px' : '0px'
                }">

                  {{ itemSubMenu.menu }}
                  <hr>
                </div>
              </div>
              <div matTooltipPosition="right" [matTooltip]="itemSubMenu.descripcion" *ngIf="!itemSubMenu.activo"
                matTooltipClass="tooltip-entorno">
                <div [ngStyle]="{
                  'font-size': '12px',
                  'cursor': 'not-allowed',
                  display: step === i + 1 ? 'flex' : 'none',
                  height: '30px',
                  'margin-left': expandedMenu ? '30px' : '0px'
                }">

                  {{ itemSubMenu.menu }}
                  <hr>
                </div>
              </div>
              <div matTooltipPosition="right" [matTooltip]="itemSubMenu.descripcion"
                *ngIf="itemSubMenu.activo && itemSubMenu.esDeErp" matTooltipClass="tooltip-entorno"
                (click)="goToErp(itemSubMenu.idMenu)">
                <div [ngStyle]="{
                  'font-size': '12px',
                  display: step === i + 1 ? 'flex' : 'none',
                  height: '30px',
                  'cursor': 'pointer',
                  'margin-left': expandedMenu ? '30px' : '0px'
                }">

                  {{ itemSubMenu.menu }}
                  <hr>
                </div>
              </div>
            </ng-container>
          </mat-expansion-panel>
        </ng-container>
      </mat-accordion>
    </mat-drawer>

    <mat-drawer-content class="menu-container mt-5">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
