@import './../../../../../variables';

.menu-container {
  min-height: 100vh;
}

.menu-sidenav-content {
  color: $azul-claro;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  font-weight: bold;
}

.menu-sidenav {
  padding: 20px;
}

.dropdown-menu-elements {
  font-weight: bold;
  font-size: 14px;
}

.dropdown-menu-elements:hover {
  font-weight: bold;
  font-size: 14px;
}

.menu {
  background-color: lightgrey;
  font-size: 10px;
}

/* Sobre escritura para el acordion del dashboard */

.dashboard {
  align-items: left;
  background-color: lightgrey;
  border-radius: inherit;
  border-radius: 4px;
  box-sizing: content-box;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  display: flex;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 400;
  flex-direction: row;
  margin: 0;
  overflow: hidden;
  padding: 0 24px;
}

.titulo-seccion {
  font-size: 16px;
  font-weight: bold;
}

.app-toolbar {
  height: 64px;
  position: fixed;
  z-index: 100;
  width: 100% !important;
}