<mat-accordion class="mt-3 no-padding-left-right">
  <mat-expansion-panel [expanded]="true" >
    <mat-expansion-panel-header class="div-header-expansion">
      <mat-panel-title>
        Administración de cuadrillas
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card-actions>
      <div class="col-12 justify-content-end d-flex mt-3">
        <button mat-raised-button color="primary" (click)="asignarCuadrillaProyecto()" matTooltip="Asignar cuadrillas proyecto">
          <mat-icon>add_box</mat-icon> Asignar
        </button>
      </div>
    </mat-card-actions>


    <table mat-table [dataSource]="dataSource" class="mt-3">

      <ng-container matColumnDef="proyecto">
        <th mat-header-cell *matHeaderCellDef>Proyecto</th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>

      <ng-container matColumnDef="estandar">
        <th mat-header-cell *matHeaderCellDef>Estándar</th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>

      <ng-container matColumnDef="departamentos">
        <th mat-header-cell *matHeaderCellDef>Departamentos</th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>

      <ng-container matColumnDef="tipozona">
        <th mat-header-cell *matHeaderCellDef>Tipo zona común</th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </mat-expansion-panel>
</mat-accordion>
