<mat-accordion>
  <mat-expansion-panel [expanded]="true" >
    <mat-expansion-panel-header class="div-header-expansion"
    [collapsedHeight]="'45px'"
    [expandedHeight]="'45px'">
      <mat-panel-title>
        Filtros
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="form">
      <div class="row mt-3">

        <div class="col-3">
          <div class="col-12">
            <ng-select
              [items]="listaFases"
              [multiple]="false"
              [closeOnSelect]="true"
              [searchable]="true"
              formControlName="faseControl"
              appendTo="body"
              notFoundText="No hay resultados"
              bindLabel="nombreFase"
              class="custom"
              bindValue="faseId"
              placeholder="Fase">
            </ng-select>
          </div>
        </div>

        <div class="col-3">
          <div class="col-12">
            <ng-select
              [items]="listaCuadrilla"
              [multiple]="true"
              [closeOnSelect]="true"
              [searchable]="true"
              formControlName="cuadrillasControl"
              appendTo="body"
              notFoundText="No hay resultados"
              bindLabel="nombre"
              class="custom"
              bindValue="id"
              placeholder="Cuadrilla">
            </ng-select>
          </div>
        </div>


        <div class="col-3">
          <div class="col-12">
            <ng-select
              [items]="listaNivel"
              [multiple]="false"
              [closeOnSelect]="true"
              [searchable]="true"
              formControlName="nivelControl"
              appendTo="body"
              notFoundText="No hay resultados"
              bindLabel="nombre"
              class="custom"
              bindValue="id"
              placeholder="Nivel">
            </ng-select>
          </div>
        </div>

        <div class="col-3">
          <div class="col-12">
            <ng-select
              [items]="listaEspecialidad"
              [multiple]="false"
              [closeOnSelect]="true"
              [searchable]="true"
              formControlName="especialidadControl"
              appendTo="body"
              notFoundText="No hay resultados"
              bindLabel="nombre"
              class="custom"
              bindValue="id"
              placeholder="Especialidad">
            </ng-select>
          </div>
        </div>


      </div>

      <div class="row">
        <div class="col-3">
          <div class="col-12">
            <ng-select
              [items]="activas"
              [clearable]="false"
              [multiple]="false"
              [closeOnSelect]="true"
              [searchable]="true"
              formControlName="estadoControl"
              appendTo="body"
              notFoundText="No hay resultados"
              bindLabel="name"
              class="custom"
              bindValue="value"
              placeholder="Estado">
            </ng-select>
          </div>
        </div>
        <div class="col-3">
          <div class="col-12">
            <ng-select
              [items]="obligatorias"
              [multiple]="false"
              [closeOnSelect]="true"
              [searchable]="true"
              formControlName="estandarControl"
              appendTo="body"
              notFoundText="No hay resultados"
              bindLabel="name"
              class="custom"
              bindValue="value"
              placeholder="Estándar">
            </ng-select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 justify-content-end d-flex">
          <button class="ml-2 mr-2" mat-raised-button class="btn-gris-claro" (click)="limpiarFiltros()">
            <mat-icon>clear</mat-icon> Limpiar filtros
          </button>
          <button class="ml-2 mr-2" mat-raised-button color="primary" (click)="filtrarListas()">
            <mat-icon>filter_list</mat-icon> Filtrar
          </button>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
