<mat-accordion>
  <mat-expansion-panel [expanded]="true" >
    <mat-expansion-panel-header class="div-header-expansion">
      <mat-panel-title>
        Filtros
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="form">
      <div class="row mt-3">

        <div class="col-3">
          <app-selector-proyecto #selectorProyecto>
          </app-selector-proyecto>
        </div>


        <div class="col-3">
          <mat-form-field class="col-12">
            <mat-select panelClass="mat-select-vain" placeholder="Estandar"
              formControlName="estandarControl">
              <mat-option *ngFor="let estandar of listaEstandar ? listaEstandar: []" [value]="estandar.id"
                class="material-mat-option">
                {{ estandar.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-3">
          <mat-form-field class="col-12">
            <mat-select panelClass="mat-select-vain" placeholder="Departamentos"
              formControlName="departamentoControl">
              <mat-option *ngFor="let departamento of listaDepartamentos ? listaDepartamentos: []" [value]="departamento.id"
                class="material-mat-option">
                {{ departamento.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-3">
          <mat-form-field class="col-12">
            <mat-select panelClass="mat-select-vain" placeholder="Tipo de zona común"
              formControlName="zonaComunControl">
              <mat-option *ngFor="let zonaComun of listaZonaComun ? listaZonaComun: []" [value]="zonaComun.id"
                class="material-mat-option">
                {{ zonaComun.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

      <div class="row">
        <div class="col-12 justify-content-end d-flex">
          <button class="ml-2 mr-2" mat-raised-button class="btn-gris-claro" (click)="reiniciarFiltros()">
            <mat-icon>clear</mat-icon> Limpiar filtros
          </button>
          <button class="ml-2 mr-2" mat-raised-button color="primary" (click)="filtrarLista()">
            <mat-icon>filter_list</mat-icon> Filtrar
          </button>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
