<ng-container *ngIf="data">
  <mat-accordion class="no-padding-left-right" id="evaluacion">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header class="div-header-expansion mb-1">
        <mat-panel-title>Evaluación - CARGO
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row m-auto">
        <div class="col text-center border" *ngFor="let dia of data.dias"
          [ngStyle]="{'background-color': obtenerFecha(dia.fecha) === true ? 'grey' : 'white' }">
          {{ dia.nombre }}
        </div>
      </div>

      <mat-card class="mt-1 border">
        <mat-card-content>
          <div class="row">
            <div class="col-1">
              <span class="font-weight-bold">Proyecto:</span>
            </div>
            <div class="col-10">
              {{ data.centroCosto.nombreCentroCosto }}
            </div>
          </div>
          <div class="row">
            <div class="col-1">
              <span class="font-weight-bold">Semana:</span>
            </div>
            <div class="col-10">
              {{ data.semana.nombre }} (Desde:
              {{ data.semana.desde }} Hasta:
              {{ data.semana.hasta }} )
            </div>
          </div>
          <div class="row">
            <div class="col-1">
              <span class="font-weight-bold">Fecha:</span>
            </div>
            <div class="col-10">
              {{ data.fecha }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <div class="mt-1">
        <p-table [value]="data.condiciones">
          <ng-template pTemplate="header">
            <tr>
              <th>Condición de seguridad</th>
              <th>Evaluación</th>
              <th>Quien(es) incumplen condición</th>
              <th>Comentario</th>
              <th>Acción</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
            <tr class="pointer">
              <td>{{ row.condicion}} </td>
              <td class="text-center">

                <ng-container *ngFor="let item of listaEvaluaciones;">
                  <mat-icon *ngIf="!row.evalSel" [ngStyle]="{'color': item.colorFondo}" [matTooltip]="item.nombre"
                    matTooltipClass="tooltip-entorno" (click)="asignarEvaluacion(row, item)">
                    {{ item.icono }}
                  </mat-icon>
                </ng-container>

                <ng-container *ngIf="row.evalSel">
                  <div class="w-50 m-auto rounded font-weight-bold"
                    [ngStyle]="{'color': 'black', 'background-color': row.evalSel.colorFondo}"
                    (click)="asignarEvaluacion(row, null)">
                    {{ row.evalSel.nombre }}
                  </div>
                </ng-container>
              </td>
              <td class="text-center">

              </td>
              <td class="text-center">
                <mat-form-field style="width: 11vw;">
                  <textarea appUppercase matInput [(ngModel)]="row.comentario" autocomplete="off"></textarea>
                </mat-form-field>
              </td>
              <td class="text-center">
                <mat-icon class="ico-verde">attach_file</mat-icon>
                <mat-icon color="warn">delete</mat-icon>
              </td>
            </tr>
          </ng-template>

        </p-table>
      </div>

      <div class="pl-3 pr-3 mt-1">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-6">
              <mat-form-field class="w-100">
                <mat-label>Observaciones</mat-label>
                <input autocomplete="off" matInput formControlName="observacionesControl" appUppercase>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field class="w-100">
                <mat-label>Compromiso</mat-label>
                <input autocomplete="off" matInput formControlName="compromisoControl" appUppercase>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="w-100">
                <mat-label>Fecha compromiso</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fechaCompromisoControl" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12 justify-content-end d-flex">
              <button mat-raised-button color="primary" matTooltip="Agregar compromiso"
                matTooltipClass="tooltip-entorno" (click)="agregarCompromiso()" [disabled]="!form.valid">
                <mat-icon>add</mat-icon> Agregar
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="mt-1 mb-2">
        <p-table [value]="listaTablaCompromisos">
          <ng-template pTemplate="header">
            <tr>
              <th>Compromiso</th>
              <th>Fecha compromiso</th>
              <th>Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row>
            <tr>
              <td> {{ row.compromiso }} </td>
              <td class="text-center"> {{ row.fecha | date: 'dd-MM-yyyy'}} </td>
              <td class="text-center">
                <mat-icon color="warn" matTooltip="Eliminar compromiso" matTooltipClass="tooltip-entorno" (click)="eliminarCompromiso(row)">delete
                </mat-icon>
              </td>
            </tr>
          </ng-template>

        </p-table>
      </div>

      <mat-card-header>
        <mat-card-title>Revisión de compromisos historicos</mat-card-title>
      </mat-card-header>

      <div class="mt-1">
        <p-table [value]="listaTablaHistoricoCompromisos">
          <ng-template pTemplate="header">
            <tr>
              <th>Fecha de registro</th>
              <th>Revisor</th>
              <th>Compromiso</th>
              <th>Fecha de compromiso</th>
              <th>Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row>
            <tr>
              <td class="text-center"> {{ row.fecha | date: 'dd-MM-yyyy'}} </td>
              <td class="text-center"> {{ row.usuario }} </td>
              <td> {{ row.compromiso }} </td>
              <td class="text-center"> {{ row.fechaOriginal | date: 'dd-MM-yyyy'}} </td>
              <td class="text-center pointer">
                <mat-icon class="ico-naranja" matTooltip="Editar" matTooltipClass="tooltip-entorno">edit</mat-icon>
                <mat-icon class="ico-verde" matTooltip="Realizado" matTooltipClass="tooltip-entorno">check_circle</mat-icon>
                <mat-icon color="warn" matTooltip="Cancelar" matTooltipClass="tooltip-entorno">cancel</mat-icon>
              </td>
            </tr>
          </ng-template>

        </p-table>
      </div>

      <div class="mt-3 pr-3 row">
        <div class="col-12 justify-content-end d-flex">

          <button class="ml-1 mr-1" mat-raised-button color="accent">
            <mat-icon>send</mat-icon> Enviar evaluación
          </button>


          <button class="ml-1 mr-1" mat-raised-button color="primary">
            <mat-icon>save</mat-icon> Guardar
          </button>
        </div>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
