<mat-card>
  <mat-card-content>

    <div class="row">
      <div class="col-3">
        <button class="btn btn-rojo" mat-raised-button [matTooltip]="'Volver a mantenedores cuadrilla'"
          matTooltipClass="tooltip-entorno" (click)="volver()">
          <mat-icon>keyboard_backspace</mat-icon> Volver
        </button>
      </div>
    </div>


    <mat-vertical-stepper #stepper (animationDone)="cambioSeleccion()">
      <mat-step>
        <ng-template matStepLabel>Fase</ng-template>
        <div>
          <app-formulario-fase></app-formulario-fase>
          <button mat-raised-button matStepperNext color="primary" [disabled]="deshabilitarAceptarFase">Aceptar</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Cuadrilla</ng-template>
        <div>
          <app-formulario-cuadrilla></app-formulario-cuadrilla>
          <button class="mr-1" mat-raised-button matStepperPrevious>Anterior</button>
          <button class="ml-1" mat-raised-button matStepperNext color="primary">Siguiente</button>
        </div>

      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Nivel especialidad</ng-template>
        <div>
          <app-formulario-especialidad></app-formulario-especialidad>
          <button class="mr-1" mat-raised-button matStepperPrevious>Anterior</button>
          <button class="ml-1 mr-1" mat-raised-button color="warn">Cancelar</button>
          <button class="ml-1" mat-raised-button color="primary">Guardar</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>

  </mat-card-content>
</mat-card>
