<div class="row">
  <div class="col-3">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="tipoCuadrillaControl">
              <mat-option *ngFor="let cuadrilla of tiposCuadrillas" [value]="cuadrilla.id">
                {{cuadrilla.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field>
            <mat-label>Cuadrilla</mat-label>
            <mat-select formControlName="cuadrillaControl" (selectionChange)="cambioFase($event.value)">
              <mat-option *ngFor="let fase of listaFases" [value]="fase.faseId">
                {{fase.nombreFase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field>
            <mat-label>Nivel</mat-label>
            <mat-select formControlName="nivelControl">
              <mat-option *ngFor="let fase of listaFases" [value]="fase.faseId">
                {{fase.nombreFase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- <div class="col-12">
          <mat-form-field>
            <mat-label>Antes de </mat-label>
            <mat-select formControlName="antesDeControl">
              <mat-option *ngFor="let indice of listaIndices" [value]="indice">
                {{indice}}
              </mat-option>
            </mat-select>
            <mat-icon *ngIf="form.valid" class="ico ico-verde-claro" matTooltipClass="tooltip-entorno"
              matTooltip="Agregar fase" matSuffix (click)="agregarFaseAlista($event)"> playlist_add </mat-icon>
          </mat-form-field>
        </div> -->


        <div class="w-40">
          <app-selector-generico-multiple placeholder="Especialidad" controlName="especialidadControl"
            [multiple]="false" [valores]="listaEspecialidad" display="nombre" value="id">
          </app-selector-generico-multiple>
        </div>

      </div>
    </form>
  </div>

  <div class="col-6">
    <mat-card-header>
      <mat-card-title>Niveles especialidad</mat-card-title>
    </mat-card-header>
    <p-table [value]="listaCuadrillaFases">
      <ng-template pTemplate="header">
        <tr>
          <th>Posicion</th>
          <th>Nivel</th>
          <th>Especialidad</th>
          <th>Cantidad teórica</th>
          <th>Acción</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center">

            <button class="ico-naranja" mat-icon-button [matTooltip]="'Editar'" matTooltipClass="tooltip-entorno">
              <!-- (click)="editar(row)" -->
              <mat-icon>edit</mat-icon>
            </button>

            <button class="ico-rojo" mat-icon-button [matTooltip]="'Eliminar'" matTooltipClass="tooltip-entorno">
              <mat-icon>delete</mat-icon>
            </button>

            <button *ngIf="row.activo" [ngClass]="{'ico-rojo': !row.activo,  'ico-verde-oscuro': row.activo }"
              mat-icon-button [matTooltip]="'Inactivar'" matTooltipClass="tooltip-entorno">
              <!-- (click)="activarDesactivarCuadrilla(row.cuadrillaId)" -->
              <mat-icon *ngIf="!row.activo">toggle_off</mat-icon>
              <mat-icon *ngIf="row.activo">toggle_on</mat-icon>
            </button>
          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>
</div>
