<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header class="div-header-expansion">
      <mat-panel-title>Filtros
      </mat-panel-title>

    </mat-expansion-panel-header>
    <form [formGroup]="form" class="mt-3">

      <div class="row">
        <div class="col-3">
          <app-selector-proyecto-multiple #selectorProyectoMultiple>
          </app-selector-proyecto-multiple>
        </div>

        <div class="col-3">
          <app-selector-generico-multiple placeholder="Semana" controlName="semanaControl" [multiple]="true"
            [valores]="listaSemana" display="nombre" value="idMaterialFamilia">
          </app-selector-generico-multiple>
        </div>

      </div>

      <div class="row">
        <div class="col-12 justify-content-end d-flex">
          <button class="ml-2 mr-2" mat-raised-button class="btn-gris-claro" (click)="reiniciarFiltros()">
            <mat-icon>clear</mat-icon> Limpiar filtros
          </button>
          <button class="ml-2 mr-2" mat-raised-button color="primary" (click)="listarTablaSeguridad()">
            <mat-icon>filter_list</mat-icon> Filtrar
          </button>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>

<mat-card-header class="mt-3">
  <mat-card-title>Administración de seguridad</mat-card-title>
</mat-card-header>

<div class="mt-3">

  <table mat-table [dataSource]="dataSource" class="pointer">

    <ng-container matColumnDef="proyecto">
      <th mat-header-cell *matHeaderCellDef class="text-center medium-m"> Proyecto </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <app-contenedor-proyecto-lista [proyecto]="element.proyecto"></app-contenedor-proyecto-lista>
      </td>
    </ng-container>

    <ng-container matColumnDef="semana">
      <th mat-header-cell *matHeaderCellDef class="medium-m"> Semana </th>
      <td mat-cell *matCellDef="let element"> {{ element.semana}} </td>
    </ng-container>

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef class="medium-m"> Estado </th>
      <td mat-cell *matCellDef="let element"> {{ element.estadoProceso}} </td>
    </ng-container>


    <ng-container matColumnDef="evaluador">
      <th mat-header-cell *matHeaderCellDef class="medium-m"> Evaluador(es) pendiente(s) </th>
      <td mat-cell *matCellDef="let element"> {{ element.evaluadoresPendientes}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef class="small-m"> Acciones </th>
      <td mat-cell *matCellDef="let element">

        <mat-icon class="ico-naranja" [matTooltip]="'Evaluar'" matTooltipClass="tooltip-entorno" (click)="evaluar(element.semanaSeguridadId)">rate_review</mat-icon>

        <mat-icon class="ico-verde-claro" [matTooltip]="'Historial'" matTooltipClass="tooltip-entorno">
          history
        </mat-icon>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="getNext($event)">
  </mat-paginator>

</div>
