<div class="row">
  <div class="col-3">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <mat-label>Nombre fase</mat-label>
            <input autocomplete="off" matInput formControlName="nombreFaseControl" appUppercase>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field>
            <mat-label>Abreviatura</mat-label>
            <input autocomplete="off" matInput formControlName="abreviaturaControl" appUppercase>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field>
            <mat-label>Antes de </mat-label>
            <mat-select formControlName="antesDeControl">
              <mat-option *ngFor="let indice of listaIndices" [value]="indice">
                {{indice}}
              </mat-option>
            </mat-select>
            <mat-icon *ngIf="form.valid" class="ico ico-verde-claro" matTooltipClass="tooltip-entorno"
              matTooltip="Agregar fase" matSuffix (click)="agregarFaseAlista($event)"> playlist_add </mat-icon>

          </mat-form-field>
        </div>
      </div>
    </form>
  </div>

  <div class="col-6">
    <mat-card-header>
      <mat-card-title>Fases existentes</mat-card-title>
    </mat-card-header>
    <p-table [value]="listaFases">
      <ng-template pTemplate="header">
        <tr>
          <th>Posicion</th>
          <th>Fase</th>
          <th>Abreviatura</th>
          <th>Acción</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td class="text-center">{{ row.orden }} </td>
          <td>{{ row.nombreFase}} </td>
          <td class="text-center">{{ row.abreviatura }} </td>
          <td class="text-center">

            <button class="ico-naranja" mat-icon-button [matTooltip]="'Editar'" matTooltipClass="tooltip-entorno">
              <mat-icon>edit</mat-icon>
            </button>

            <button class="ico-rojo" mat-icon-button [matTooltip]="'Eliminar'" matTooltipClass="tooltip-entorno">
              <mat-icon>delete</mat-icon>
            </button>

            <button *ngIf="row.activo" [ngClass]="{'ico-rojo': !row.activo,  'ico-verde-oscuro': row.activo }"
              mat-icon-button [matTooltip]="'Inactivar'" matTooltipClass="tooltip-entorno">
              <mat-icon *ngIf="!row.activo">toggle_off</mat-icon>
              <mat-icon *ngIf="row.activo">toggle_on</mat-icon>
            </button>
          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>
</div>
