<mat-dialog-content class="modal-pequeño" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <div class="row div-header-entorno grabbable" cdkDragHandle>
    <div class="col-9">
      <h1 mat-dialog-title class="titulo-modal"><span>&nbsp;&nbsp;Nuevo tipo de proyecto</span></h1>
    </div>
    <div class="col-3 justify-content-end d-flex">
      <button mat-icon-button color="warn" mat-dialog-close matTooltipClass="tooltip-entorno"
        [matTooltip]="'Cerrar ventana'">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>

    <div class="row margin-top-10">
      <div class="col-sm">
        <!-- tipo nomina -->
        <mat-form-field class="col-md-12">
          <input matInput appUppercase autocomplete="off" class="pointer" [(ngModel)]="nombre" placeholder="Nombre" required />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <div class="col-md-12">
          <ng-select
          [items]="estandars"
          [multiple]="false"
          [addTag]="agregarEstandar"
          [closeOnSelect]="true"
          addTagText="Agregar estandar"
          [searchable]="true"
          groupBy="perAno"
          notFoundText="No hay resultados"
          appendTo="body"
          class="custom"
          bindLabel="nombre"
          placeholder="Estandar"
          [(ngModel)]="estandarSelected">
        </ng-select>
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <div class="col-md-12">
          <ng-select
          [items]="dptos"
          [multiple]="false"
          [closeOnSelect]="true"
          [addTag]="agregarDpto"
          [searchable]="true"
          addTagText="Agregar departamento"
          groupBy="linea"
          class="custom"
          appendTo="body"
          bindLabel="nombre"
          notFoundText="No hay resultados"
          placeholder="Departamentos"
          [(ngModel)]="dptosSelected">
        </ng-select>
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <div class="col-md-12">
          <ng-select
          [items]="zonas"
          [multiple]="false"
          [closeOnSelect]="true"
          addTagText="Agregar zona comun"
          [addTag]="agregarZona"
          [searchable]="true"
          groupBy="perAno"
          notFoundText="No hay resultados"
          appendTo="body"
          class="custom"
          bindLabel="nombre"
          placeholder="Zonas comunes"
          [(ngModel)]="zonaSelected">
        </ng-select>
      </div>
      </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end" style="margin-bottom: 0px; margin-right: 10px;">
  <button mat-raised-button type="submit" class="btn btn-verde-claro" (click)="guardar()">
    <mat-icon>check_circle</mat-icon> Crear tipo
</button>
</mat-dialog-actions>
