<mat-dialog-content class="modal-intermedio" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <div class="row div-header-entorno grabbable" cdkDragHandle>
    <div class="col-9">
      <h1 mat-dialog-title class="titulo-modal"><span>&nbsp;&nbsp;Crear especialidad</span></h1>
    </div>
    <div class="col-3 justify-content-end d-flex">
      <button mat-icon-button color="warn" mat-dialog-close matTooltipClass="tooltip-entorno"
        [matTooltip]="'Cerrar ventana'">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>

  </mat-dialog-content>
