  <mat-expansion-panel [expanded]="true" class="mt-3">
    <mat-expansion-panel-header class="div-header-expansion"
    [collapsedHeight]="'35px'"
    [expandedHeight]="'35px'">
      <mat-panel-title>
        Cuadrillas base
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card-actions>
      <div class="col-12 justify-content-end d-flex mt-1">

        <button mat-stroked-button color="accent" class="mr-2 ml-2 pointer" (click)="expandirContraer()"
          [matTooltip]="hide === true ? 'Expandir lista' : 'Contraer lista'" matTooltipClass="tooltip-entorno">
          <mat-icon class="girar-45">
            {{ (expandedRows | json) == ({} | json) ? 'unfold_more' : 'unfold_less' }}</mat-icon>
          {{ (expandedRows | json) == ({} | json) ? 'Expandir' : 'Contraer' }} lista
        </button>


        <button mat-raised-button color="primary" matTooltip="Crear nueva fase" (click)="crearEditar()">
          Crear nueva fase
        </button>
      </div>
    </mat-card-actions>

    <p-table [value]="fases" dataKey="nombre" [paginator]="true" [rows]="4" editMode="row" [expandedRowKeys]="expandedRows">
      <ng-template pTemplate="header">
          <tr>
            <th class="text-left">
              Estándar<br>
              Departamentos<br>
              Tipo de zona común
            </th>
            <th *ngFor="let tipo of tiposProyecto">
              {{ tipo.estandar }}<br>
              {{ tipo.departamentos }}<br>
              {{ tipo.zonaComun}}
            </th>
            <th class="text-right">Acciones</th>
          </tr>
          <tr style="font-weight: bold;">
            <td class="text-left">
              Necesidad de mano de obra
            </td>
            <td class="text-center" *ngFor="let tipo of tiposProyecto">
              {{ tipo.totalManoDeObra }}
            </td>
            <td></td>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded" let-columns="columns">
        <tr style="background-color: #dbdbdb;" class="prueba" [pRowToggler]="rowData">
          <td [attr.colspan]="tiposProyecto.length">
            <span class="d-flex align-items-center pointer">
              <mat-icon>
                {{ expanded ? 'expand_more' : 'chevron_right' }}
              </mat-icon>
              <b class="d-flex align-items-center pointer">
                <i class="material-icons-outlined ico ico-verde-claro" *ngIf="!rowData.faseId">new_releases_outlined</i>{{rowData.nombre}} ({{rowData.grupos.length}})
              </b>
            </span>
          </td>
          <td class="text-right" colspan="2">
            <mat-icon class="ico-naranja pointer" (click)="$event.stopPropagation(); crearEditar(rowData)">edit</mat-icon>

            <mat-icon class="ico-verde-oscuro pointer"
            data-toggle="tooltip" data-placement="top" title="Agregar grupo" (click)="$event.stopPropagation(); crearEditarGrupo(rowData)">add</mat-icon>

            <span class="ico-verde-oscuro pointer"
            data-toggle="tooltip" data-placement="top">
              <mat-icon *ngIf="!rowData.activo">turned_in_not</mat-icon>
              <mat-icon *ngIf="rowData.activo">turned_in</mat-icon>
            </span>

            <span [ngClass]="{'ico-rojo-claro': !rowData.activo, 'ico-verde-claro': rowData.activo }"
            data-toggle="tooltip" data-placement="top" [title]="rowData.activo ? 'Desactivar cuadrilla' : 'Activar cuadrilla'" class="pointer">
              <mat-icon *ngIf="rowData.activo">toggle_off</mat-icon>
              <mat-icon *ngIf="!rowData.activo">toggle_on</mat-icon>
            </span>

            <mat-icon class="ico-rojo pointer">delete</mat-icon>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-rowData let-rowIndex="rowIndex" let-rowData.viewDetails="false">
        <ng-container *ngFor="let grupo of rowData.grupos">
        <tr style="background-color: #f6f6f6;" (click)="mostrar(grupo)">
          <td [attr.colspan]="tiposProyecto.length">
            <span class="d-flex align-items-center pointer ml-4">
              <mat-icon>
                {{ grupo.cuadrillas.length ? 'expand_more' : 'chevron_right' }}
              </mat-icon>
              <b class="d-flex align-items-center pointer">
                <i class="material-icons-outlined ico ico-verde-claro" *ngIf="!grupo.grupoId">new_releases_outlined</i>{{grupo.nombre}} ({{grupo.cuadrillasStatic.length}})</b>
            </span>
          </td>
          <td class="text-right" colspan="2">
            <mat-icon class="ico-naranja pointer">edit</mat-icon>

            <mat-icon class="ico-verde-oscuro pointer"
            data-toggle="tooltip" data-placement="top" title="Agregar cuadrilla" (click)="$event.stopPropagation(); crearEditarCuadrilla(grupo)">add</mat-icon>

            <span class="ico-verde-oscuro pointer"
            data-toggle="tooltip" data-placement="top">
              <mat-icon *ngIf="!grupo.activo">turned_in_not</mat-icon>
              <mat-icon *ngIf="grupo.activo">turned_in</mat-icon>
            </span>

            <span [ngClass]="{'ico-rojo-claro': !grupo.activo, 'ico-verde-claro': grupo.activo }"
            data-toggle="tooltip" data-placement="top" [title]="grupo.activo ? 'Desactivar cuadrilla' : 'Activar cuadrilla'" class="pointer">
              <mat-icon *ngIf="grupo.activo">toggle_off</mat-icon>
              <mat-icon *ngIf="!grupo.activo">toggle_on</mat-icon>
            </span>

            <mat-icon class="ico-rojo pointer">delete</mat-icon>
          </td>
        </tr>
          <ng-container *ngFor="let cuadrilla of grupo.cuadrillas">
            <tr class="cuadrilla-estandarizada">
              <td  class="d-flex align-items-center nombre-cuadrilla"><i class="material-icons-outlined ico ico-verde-claro" *ngIf="!cuadrilla.cuadrillaId">new_releases_outlined</i>{{ cuadrilla.nombre }}</td>
              <td class="text-center" *ngFor="let total of cuadrilla.totales">
                {{ mostrarTotalesTipoProyecto(total) }}
              </td>
              <td class="text-right">

                <mat-icon class="ico-verde-oscuro pointer"
                data-toggle="tooltip" data-placement="top" title="Agregar cuadrilla">add</mat-icon>

                <span class="ico-verde-oscuro pointer"
                data-toggle="tooltip" data-placement="top" [title]="cuadrilla.estandarizada ? 'Desactivar cuadrilla' : 'Activar cuadrilla'"
                (click)="estandarizarDesEstCuadrilla(cuadrilla.cuadrillaId)">
                  <mat-icon *ngIf="!cuadrilla.estandarizada">turned_in_not</mat-icon>
                  <mat-icon *ngIf="cuadrilla.estandarizada">turned_in</mat-icon>
                </span>

                <span [ngClass]="{'ico-rojo-claro': !cuadrilla.activo, 'ico-verde-claro': cuadrilla.activo }"
                data-toggle="tooltip" data-placement="top" [title]="cuadrilla.activo ? 'Desactivar cuadrilla' : 'Activar cuadrilla'" class="pointer"
                (click)="activarDesactivarCuadrilla(cuadrilla.cuadrillaId)">
                  <mat-icon *ngIf="cuadrilla.activo">toggle_off</mat-icon>
                  <mat-icon *ngIf="!cuadrilla.activo">toggle_on</mat-icon>
                </span>

                <mat-icon class="ico-rojo pointer"
                (click)="eliminarCuadrilla(cuadrilla)">delete</mat-icon>

              </td>
            </tr>
            <tr *ngFor="let nivel of cuadrilla.niveles">
              <td class="text-right">{{ nivel.nivel }} {{ nivel.especialidad }} </td>
              <td class="text-center" *ngFor="let cantidad of nivel.cantidades">
                <ng-container *ngIf="editing && nivel.matrizCuadrillaId === indiceSeleccionado; else valorFila">
                  <input pInputText type="number" [(ngModel)]="cantidad.cantidad" class="text-right" appNumberInput style="width: 50%;">
                </ng-container>

                <ng-template #valorFila>
                  {{ cantidad.cantidad}}
                </ng-template>
              </td>
              <td class="text-right">
                <mat-icon *ngIf="nivel.matrizCuadrillaId !== indiceSeleccionado" class="ico-naranja pointer"
                (click)="editarFila(nivel); editing = !editing">edit</mat-icon>

                <mat-icon *ngIf="editing && nivel.matrizCuadrillaId === indiceSeleccionado" color="primary" class="pointer"
                (click)="guardarCantidadesTeoricas(nivel); editing = !editing">save</mat-icon>

                <mat-icon *ngIf="editing && nivel.matrizCuadrillaId === indiceSeleccionado" color="warn" class="pointer"
                (click)="indiceSeleccionado = null; editing = !editing">cancel</mat-icon>

                <span [ngClass]="{'ico-rojo': !nivel.activo, 'ico-verde-claro': nivel.activo }" class="pointer"
                (click)="activarDesactivarMatrizCuadrilla(nivel.matrizCuadrillaId)" *ngIf="!editing && nivel.matrizCuadrillaId != indiceSeleccionado">
                  <mat-icon *ngIf="nivel.activo">toggle_off</mat-icon>
                  <mat-icon *ngIf="!nivel.activo">toggle_on</mat-icon>
                </span>

                <mat-icon class="ico-rojo pointer" *ngIf="!editing && nivel.matrizCuadrillaId != indiceSeleccionado">delete</mat-icon>

              </td>
            </tr>
          </ng-container>
        </ng-container>
      </ng-template>
  </p-table>


  </mat-expansion-panel>
