@import './../../../../../../../variables';

.nombre-cuadrilla {
  font-size: 12px;
  color: $negro;
  font-weight: bold;
}

.cuadrilla-estandarizada {
  background-color: $azul-celeste !important;
  color: $negro !important;
}

.cuadrilla-no-estandarizada {
  background-color: $rojo !important;
}

.prueba {
  height: 25px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.ico {
  width: 2rem;
}

.ico-rojo-claro {
  color: #e54b4b !important;
}
