<mat-card>
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header class="div-header-expansion"
      [collapsedHeight]="'40px'"
      [expandedHeight]="'40px'">
        <mat-panel-title>
          Filtros
        </mat-panel-title>
      </mat-expansion-panel-header>

        <div class="row mt-1">
          <div class="col-3 mt-1">
              <div class="col-12">
                <ng-select
                  [items]="dptos"
                  [multiple]="false"
                  [closeOnSelect]="true"
                  [searchable]="true"
                  groupBy="linea"
                  class="custom"
                  appendTo="body"
                  bindLabel="nombre"
                  notFoundText="No hay resultados"
                  bindValue="id"
                  placeholder="Departamentos"
                  [(ngModel)]="dptosSelected">
                </ng-select>
              </div>
          </div>
          <div class="col-3 mt-1">
            <div class="col-12">
              <ng-select
                [items]="zonas"
                [multiple]="false"
                [closeOnSelect]="true"
                [searchable]="true"
                groupBy="perAno"
                notFoundText="No hay resultados"
                appendTo="body"
                class="custom"
                bindValue="id"
                bindLabel="nombre"
                placeholder="Zonas comunes"
                [(ngModel)]="zonaSelected">
              </ng-select>
          </div>
          </div>
          <div class="col-3 mt-1">
            <div class="col-12">
              <ng-select
                [items]="estandars"
                [multiple]="false"
                [closeOnSelect]="true"
                [searchable]="true"
                groupBy="perAno"
                notFoundText="No hay resultados"
                appendTo="body"
                class="custom"
                bindValue="id"
                bindLabel="nombre"
                placeholder="Estandar"
                [(ngModel)]="estandarSelected">
              </ng-select>
          </div>
          </div>

          <div class="col-2 mt-3">
            <button mat-raised-button class="btn btn-gris-claro mr-1" (click)="quitarFiltro()" *ngIf="zonaSelected || dptosSelected || estandarSelected">
              <mat-icon>close</mat-icon> Quitar filtro
            </button>
            <button mat-raised-button color="primary" (click)="cargarData()">
              <mat-icon>filter_alt</mat-icon> Filtrar
            </button>
          </div>
        </div>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-expansion-panel [expanded]="true" class="mt-3 padding-reduce">
    <mat-expansion-panel-header
    [collapsedHeight]="'35px'"
    [expandedHeight]="'35px'">
    </mat-expansion-panel-header>
  <div class="row mt-2">
    <div class="col-6">
      <mat-card-title style="font-size: 18px;">Tipos de proyecto</mat-card-title>
    </div>
    <div class="col-6 mb-2" align="end">
      <button mat-raised-button class="mr-2" color="primary" (click)="crear()"
      [matTooltip]="'Nuevo tipo de proyecto'" matTooltipClass="tooltip-entorno">
        <mat-icon>add</mat-icon> Nuevo
    </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-1" align="center" *ngIf="cargando">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!cargando && !tieneDetalle" class="col-12 text-center mt-2">
      No existen tipos de proyecto para el filtro seleccionado
    </div>

    <div *ngIf="!cargando && tieneDetalle">
      <table mat-table matSort class="pointer" [dataSource]="tabla">

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef class="small-m text-left">
            Nombre
          </th>
          <td mat-cell *matCellDef="let element" class="text-left text-wrap override">
            {{ element.nombre }}
          </td>
          <td mat-footer-cell *matFooterCellDef> <strong>Totales</strong> </td>
        </ng-container>

        <ng-container matColumnDef="dpto">
          <th mat-header-cell *matHeaderCellDef class="small-m text-left">
            Departamentos
          </th>
          <td mat-cell *matCellDef="let element" class="text-left text-wrap override">
            {{ element.departamento }}
          </td>
          <td mat-footer-cell *matFooterCellDef> <strong>Totales</strong> </td>
        </ng-container>

        <ng-container matColumnDef="zona">
          <th mat-header-cell *matHeaderCellDef class="small-m text-left">
            Zona Comun
          </th>
          <td mat-cell *matCellDef="let element" class="text-left text-wrap override">
            {{ element.zonaComun }}
          </td>
          <td mat-footer-cell *matFooterCellDef> <strong>Totales</strong> </td>
        </ng-container>

        <ng-container matColumnDef="estandar">
          <th mat-header-cell *matHeaderCellDef class="small-m text-left">
            Estandar
          </th>
          <td mat-cell *matCellDef="let element" class="text-left text-wrap override">
            {{ element.estandar }}
          </td>
          <td mat-footer-cell *matFooterCellDef> <strong>Totales</strong> </td>
        </ng-container>


        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="small-m text-left">
            Acciones
          </th>
          <td mat-cell *matCellDef="let element" class="text-left text-wrap override">
            <mat-icon class="ico ico-naranja" (click)="editar(element)"
            [matTooltip]="'Editar'" matTooltipClass="tooltip-entorno">edit</mat-icon>
          </td>
          <td mat-footer-cell *matFooterCellDef> <strong>Totales</strong> </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator color="primary" #paginator [pageSize]="pageSize" [length]="length" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons paginas
    (page)="getNext($event)"></mat-paginator>
    </div>

  </div>
  </mat-expansion-panel>

  <mat-card-actions>

  </mat-card-actions>
</mat-card>
