<mat-card>
  <app-filtros-mantenedor-cuadrillas></app-filtros-mantenedor-cuadrillas>

  <app-lista-mantenedor-cuadrillas></app-lista-mantenedor-cuadrillas>

  <app-lista-cudrillas-particulares></app-lista-cudrillas-particulares>

  <app-lista-cuadrillas-excepcionales></app-lista-cuadrillas-excepcionales>
</mat-card>
