@import "~@angular/material/theming";

@mixin clases-globales($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme,
            accent);
    $warn: map-get($theme,
            warn);

    @include mat-table-theme($theme);

    .div-header-entorno {
        background-color: mat-color($primary) !important;
        font-size: 16px !important;
        font-weight: bold !important;
    }

    .modal-entorno #cabecera-modal {
        background-color: mat-color($primary) !important;
    }

    .modal-grande .mat-dialog-content {
        max-height: 95vh !important;
    }

    .modal-grande::-webkit-scrollbar {
        width: 2px !important;
    }

    .modal-grande::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey !important;
        border-radius: 10px !important;
    }

    .modal-grande::-webkit-scrollbar-thumb {
        background: mat-color($primary) !important;
        border-radius: 10px !important;
    }

    .modal-intermedio::-webkit-scrollbar-thumb {
        background: mat-color($primary) !important;
        border-radius: 10px !important;
    }

    .custom-dialog-content::-webkit-scrollbar-thumb {
        background: mat-color($primary) !important;
        border-radius: 10px !important;
    }

    // tabla ngx-easy-table
    .custom-ngx-table .ngx-table__header {
        background-color: mat-color($primary) !important;
        font-weight: bold !important;
        color: white !important;
        font-size: 11px !important;
        text-align: center !important;
        min-height: 56px !important;
        height: 56px !important;
    }

    .custom-ngx-table .ngx-table__header .pinned-left {
        background-color: mat-color($primary) !important;
        font-weight: bold !important;
        color: white !important;
        font-size: 11px !important;
        text-align: center !important;
        min-height: 56px !important;
        height: 56px !important;

    }

    // tabla primeng
    .ui-table .ui-table-thead>tr>th {
        background-color: mat-color($primary) !important;
        font-weight: bold !important;
        color: white !important;
        text-align: center !important;
        min-height: 56px !important;
        height: 56px !important;
        border-collapse: collapse !important;
        border: none !important;
        font-family: Roboto, 'Helvetica Neue', sans-serif !important;
        font-size: 11px !important;
    }

    .table-fixed-head {
        overflow-y: auto;
        height: 720px;
    }

    .table-fixed-head thead th {
        position: sticky;
        top: 0;
        z-index: 100;
    }

    // tabla angular material
    .mat-header-cell,
    .mat-header-row {
        background-color: mat-color($primary) !important;
        font-weight: bold !important;
        color: white !important;
        font-size: 11px !important;
    }


    .cabecera-entorno .mat-header-cell,
    .mat-header-row {
        background-color: mat-color($primary);
        font-weight: bold;
        color: white;
    }


    .mat-tooltip {
        &.tooltip-entorno {
            font-size: 14px !important;
            background-color: mat-color($primary) !important;
            white-space: pre-line !important;
        }
    }

    .arrow-down:hover {
        cursor: pointer;
        color: mat-color($primary);
    }

    .icono-dashboard {
        background-color: mat-color($primary) !important;
        color: white;
    }


    .mat-standard-chip {
        background-color: mat-color($primary) !important;
        color: white !important;
        transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1) !important;
        display: inline-flex !important;
        padding: 7px 12px !important;
        border-radius: 16px !important;
        align-items: center !important;
        cursor: default !important;
        min-height: 24px !important;
        height: 1px !important;
    }

}