//COLORES
$naranja: #ef6c00;
$naranja-claro: #ffab91;
$amarillo: #ffc107;
$azul: #2772CC;
$azul-claro: #528ed6;
$azul-temporal: #0D47A1;
$azul-celeste: #bbdefb;
$rojo: #d50000;
$rojo-claro: #EF5350;
$rojo-naranja: #FF4500;
$verde: #28892B;
$verde-claro: #53a155;
$verde-oscuro: darkgreen;
$morado-claro: #673AB7;
$morado-oscuro: #88058E;
$salmon: #FFE4C4;
$blanco: #ffffff;
$negro: #000000;
$col-activa: #f5f5f5;
$fondo-contenido: #f6f7f8;
$gris-azulado: #cfd8dc;
$gris-azulado-destacado: #334750;
$gris-menu: #a8b7c5;
$gris-texto: #bbc5ca;
$gris-claro: #D3D3D3;
$gris-disabled: #e2e8ea;
$gris-bordes: #747f85;
$gris-oscuro: #37474f;
$gris-texto-tracking: #4d6f7b;
