/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '@fullcalendar/core/main.css';
@import '@fullcalendar/daygrid/main.css';
@import '@fullcalendar/timegrid/main.css';
@import '~ngx-easy-table/style.scss';
@import '~ngx-toastr/toastr.css';
@import "~@ng-select/ng-select/themes/material.theme.css";
@import 'variables';

// PUNTEROS MOUSE
.pointer {
  cursor: pointer;
}

.grabbable {
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

// flecha personalizada para el select
.arrow-down {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
}

// TEXTOS
// Alineación

.text-align-center {
  text-align: center !important;
}

.text-align-right {
  text-align: right !important;
}

.text-align-left {
  text-align: left !important;
}

// MARGENES - TOP
.margin-top-5 {
  margin-top: 5px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-top-50 {
  margin-top: 50px !important;
}

// DIV EN HEADERS
.div-header {
  background-color: lightgrey !important;
  border-radius: 5px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  margin-right: 5px !important;
  margin-left: 5px !important;
}

.div-header-expansion-invalid {
  background-color: $naranja;
  font-size: 16px;
  font-weight: bold;
}

.div-header-expansion {
  background-color: lightgrey !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.menu-container {
  background-color: lightgrey;
}

.dropdown-menu-elements {
  font-weight: bold;
}

.hide-extra-text {
  overflow-x: hidden;
  width: auto;
  max-width: 300px;
  min-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// BOTONES
.btn-verde-claro {
  background-color: $verde-claro !important;
  color: $blanco !important;
}

.btn-verde-oscuro {
  background-color: $verde-oscuro !important;
  color: $blanco !important;
}

.btn-naranja {
  background-color: $naranja !important;
  color: $blanco !important;
}

.btn-amarillo {
  background-color: $amarillo !important;
  color: $blanco !important;
}

.btn-azul {
  background-color: $azul !important;
  color: $blanco !important;
}

.btn-azul-claro {
  background-color: $azul-claro !important;
  color: $blanco !important;
}

.btn-azul-celeste {
  background-color: $azul-celeste !important;
  color: $blanco !important;
}

.btn-blanco {
  background-color: $blanco !important;
  color: $negro !important;
}

.btn-gris-claro {
  background-color: $gris-claro !important;
  color: $negro !important;
}

.btn-gris-oscuro {
  background-color: $gris-oscuro !important;
  color: $blanco !important;
}

.btn-morado-claro {
  background-color: $morado-claro !important;
  color: $blanco !important;
}

.btn-morado-oscuro {
  background-color: $morado-oscuro !important;
  color: $blanco !important;
}

.btn-naranja {
  background-color: $naranja !important;
  color: $blanco !important;
}

.btn-naranja-claro {
  background-color: $naranja-claro !important;
  color: $blanco !important;
}

.btn-rojo {
  background-color: $rojo !important;
  color: $blanco !important;
}

.btn-rojo-claro {
  background-color: $rojo-claro !important;
  color: $blanco !important;
}

.btn-rojo-naranja {
  background-color: $rojo-naranja !important;
  color: $blanco !important;
}

.btn-salmon {
  background-color: $salmon !important;
  color: $negro !important;
}

.btn-verde {
  background-color: $verde !important;
  color: $blanco !important;

}

.btn-verde-claro {
  background-color: $verde-claro !important;
  color: $blanco !important;
}

.btn-verde-oscuro {
  background-color: $verde-oscuro !important;
  color: $blanco !important;
}

.btn-blanco {
  background-color: $blanco !important;
  color: $negro !important;
}

// Estilo para desactivar botones
.btn[disabled] {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12) !important;
  background-color: #B9B9B9 !important;
  color: #898989 !important;
}

// ICONOS
.icono-pequeño {
  font-size: 20px !important;
}

.ico-verde-claro {
  color: $verde-claro !important;
}

.ico-verde-oscuro {
  color: $verde-oscuro !important;
}

.ico-naranja {
  color: $naranja !important;
}

.ico-amarillo {
  color: $amarillo !important;
}

.ico-azul {
  color: $azul !important;
}

.ico-azul-claro {
  color: $azul-claro !important;
}

.ico-azul-celeste {
  color: $azul-claro !important;
}

.ico-blanco {
  color: $blanco !important;
}

.ico-gris-claro {
  color: $gris-claro !important;
}

.ico-gris-oscuro {
  color: $gris-oscuro !important;
}

.ico-morado-claro {
  color: $morado-claro !important;
}

.ico-morado-oscuro {
  color: $morado-oscuro !important;
}

.ico-naranja {
  color: $naranja !important;
}

.ico-naranja-claro {
  color: $naranja-claro !important;
}

.ico-rojo {
  color: $rojo !important;
}

.ico-rojo-claro {
  color: $rojo-claro !important;
}

.ico-rojo-naranja {
  color: $rojo-naranja !important;
}

.ico-salmon {
  color: $salmon !important;
}

.ico-verde {
  color: $verde !important;
}

.ico-verde-claro {
  color: $verde-claro !important;
}

.ico-verde-oscuro {
  color: $verde-oscuro !important;
}

.ico[disabled] {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12) !important;
  color: rgba(0, 0, 0, 0.26) !important;
}

// CABECERA
.header-icon {
  padding: 0 14px;
}

.header-spacer {
  flex: 1 1 auto;
}

.mat-icon.header-icon-space {
  padding: 0px 20px 20px 20px;
}

.progressSpinner .mat-dialog-container {
  background-color: transparent !important;
  box-shadow: none !important;
}

//
/* Small */
.small {
  width: 25px;
}

.small-s {
  width: 50px;
}

.small-m {
  width: 75px;
}

.small-l {
  width: 90px;
}

/* Medium */
.medium {
  width: 100px;
}

.medium-s {
  width: 125px;
}

.medium-m {
  width: 150px;
}

.medium-l {
  width: 175px;
}

/* Long */
.long {
  width: 200px;
}

.long-s {
  width: 225px;
}

.long-m {
  width: 250px;
}

.long-l {
  width: 275px;
}

/* ExtraLarge */
.extralarge {
  width: 300px;
}

// MODAL
.sticky-modal-header {
  position: fixed !important;
  width: inherit;
  z-index: 1000 !important;
  margin-left: 0px !important;
  margin-right: 2px !important;
}

.titulo-modal {
  color: $blanco !important;
  font-weight: bold !important;
  font-size: 18px !important;
  display: table-cell !important;
  vertical-align: middle !important;
  padding-top: 4px !important;
}

.modal-pequeño {
  font: 400 13px/20px Roboto,
    "Helvetica Neue",
    sans-serif !important;
  width: 25vw !important;
}

.modal-intermedio {
  font: 400 13px/20px Roboto,
    "Helvetica Neue",
    sans-serif !important;
  width: 50vw !important;
}

.modal-grande {
  font: 400 13px/20px Roboto,
    "Helvetica Neue",
    sans-serif !important;
  // width: 1085px !important;
  width: 75vw !important;
}

// Division modal en 2 columnas:
.col-right {
  margin-left: 30px !important;
  padding-right: 0px !important;
  flex: 0 0 41.666667% !important;
  max-width: 41.666667% !important;

}

.col-left {
  padding-left: 30px !important;
  padding-right: 0px !important;
  flex: 0 0 41.666667% !important;
  max-width: 41.666667% !important;
}


.custom-dialog-container .mat-dialog-container {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  padding-block-end: 0px;
}

.custom-dialog-container-no-padding .mat-dialog-container {
  display: block;
  height: auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-block-end: 0px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
}

.custom-dialog-content .mat-dialog-content {
  overflow: hidden;
  -webkit-overflow-scrolling: auto;
}

.custom-dialog-content .mat-dialog-content {
  max-height: 600px;
  min-height: 0;
}

.custom-dialog-content::-webkit-scrollbar {
  width: 2px !important;
}

.custom-dialog-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey !important;
  border-radius: 10px !important;
}

.toastr-class {
  font-size: 14px;
}

.toastr-title-class {
  font-size: 16px;
  font-weight: bold;
}

.no-padding-left-right .mat-expansion-panel-body {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.no-padding-left-right {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.ngx-table {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
  display: table !important;
  text-align: left !important;
  width: 100% !important;
  font-size: 11px !important;
  font-family: Roboto, 'Helvetica Neue', sans-serif !important;
}

.ngx-menu .ngx-dropdown {
  min-width: 100% !important;
  margin: -2px !important;
  float: left !important;
  white-space: nowrap !important;
}

#tabla-entorno .ngx-dropdown.ngx-active .ngx-menu,
.ngx-dropdown .ngx-menu:hover {
  display: contents !important;
}

.ngx-pagination-range-dropdown-button-item {
  cursor: pointer !important;
  color: #50596c !important;
  padding: 4px !important;
  background-color: $blanco !important;
}

.ngx-table__table--normal>tbody>tr>td,
.ngx-table__table--normal>thead>tr>th {
  border-bottom: 1px solid #e7e9ed !important;
  padding: 2px 6px !important;
}

// TABLA ANGULAR MATERIAL

table.mat-table {
  table-layout: fixed !important;
  width: 100% !important;
}

th.mat-cell,
td.mat-cell {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  font-size: 11px !important;
}


// FORMAS
.circle-div {
  width: fit-content !important;
  min-width: 3vw !important;
  display: inline-block !important;
  height: fit-content !important;
  border-radius: 100px !important;
  text-align: center !important;
  font-weight: bold !important;
  border: 0.5px solid black;
  padding: 2px 2px !important;
  position: relative !important;
}

.circle-div-small {
  width: fit-content !important;
  min-width: 3vw !important;
  display: inline-block !important;
  height: fit-content !important;
  border-radius: 100px !important;
  text-align: center !important;
  font-weight: bold !important;
  border: 0.5px solid black;
  padding: 2px 2px !important;
  position: relative !important;
  font-size: 10px !important;
}

.mat-optgroup-label-custom .mat-optgroup-label {
  height: 30px !important;
  font-size: inherit !important;
}

th.mat-cell.override,
td.mat-cell.override {
  overflow: show !important;
  text-overflow: clip !important;
  white-space: normal !important;
  font-size: 11px !important;
}

.ui-table .ui-table-thead>tr>th.text-right {
  text-align: right !important;
}

.ui-table .ui-table-thead>tr>th.text-left {
  text-align: left !important;
}

.ng-select.custom {
  border: 0px;
  min-height: 0px;
  border-radius: 0;
}

.ng-select.custom .ng-select-container {
  min-height: 38px;
  border-radius: 0;
}

// Campos
.mat-form-field {
  &.mat-form-field-disabled .mat-form-field-underline {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0.42) 33%, #c2c7cc 0) !important;
    background-size: 1px 100% !important;
    background-repeat: repeat-x !important;
    color: $negro !important;
    font-weight: bold !important;
  }
}

.mat-input-element:disabled {
  font-weight: bold !important;
}

.material-mat-option {
  height: 30px !important;
  font-size: 12px !important;
  color: $negro;
}

.mat-drawer.mat-drawer-side {
  position: fixed !important;
}


// tabla ng-prime
.ui-table .ui-table-tbody>tr>td {
  border: none !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

// TABLA PRIME NG
.ui-table table {
  width: 100% !important;
  font-size: 11px !important;
  border: 1px solid #CCC !important;
  border-collapse: collapse !important;
}

.ui-table .ui-table-tbody>div>tr:last-child {
  border-bottom: .5px solid #E0E0E0;
}

.ui-table .ui-table-tbody>tr {
  border-bottom: .5px solid #E0E0E0;
}

// full calendar

.app-calendar {
  margin: 0 auto;
  max-width: 65% !important;
  background: white !important;
}

.btn-circle {
  width: 25px !important;
  height: 15px !important;
  padding: 6px 0px !important;
  border-radius: 15px !important;
  text-align: center !important;
  font-size: 12px !important;
  line-height: 1.42857 !important;
}

.fc-day-number {
  margin-right: 5px !important;
  margin-top: 4px !important;
  font-weight: bold !important;
  color: white !important;
  opacity: 0 !important;
  filter: alpha(opacity=0) !important;
}

.numerofueraMes {
  opacity: 0.6 !important;
  filter: alpha(opacity=60) !important;
}

.numeroMes {
  font-weight: bold !important;
  font-style: normal !important;
}

//MULTISELECT
.multiselect-dropdown>.dropdown-list {
  position: relative !important;
  padding-top: 0px !important;
  margin-top: 0px !important;
}

.multiselect-dropdown {
  margin-top: 1px;
  margin-bottom: 1px;
}

.multiselect-item-checkbox>div::before {
  border: 2px solid #212121 !important;
}

.mat-drawer.mat-drawer-side {
  position: fixed !important;
}

.thin-header {
  height: 47px !important;
}

.mat-form-field-infix>.arrow-down {
  position: absolute;
}

.ui-dataview-header {
  display: none !important;
}

.mat-select-vain {
  height: max-content !important;
  max-height: 500px !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.mat-chip {
  font-size: 12px !important;
  font-weight: 500 !important;
}

// TABLA PRIME NG
.ui-table.override table {
  width: auto;
}

.girar-45 {
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.girar-90 {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.girar-135 {
  -ms-transform: rotate(135deg);
  /* IE 9 */
  -webkit-transform: rotate(135deg);
  /* Chrome, Safari, Opera */
  transform: rotate(135deg);
}

.girar-180 {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.girar-225 {
  -ms-transform: rotate(225deg);
  /* IE 9 */
  -webkit-transform: rotate(225deg);
  /* Chrome, Safari, Opera */
  transform: rotate(225deg);
}

.girar-270 {
  -ms-transform: rotate(270deg);
  /* IE 9 */
  -webkit-transform: rotate(270deg);
  /* Chrome, Safari, Opera */
  transform: rotate(270deg);
}

.girar-315 {
  -ms-transform: rotate(315deg);
  /* IE 9 */
  -webkit-transform: rotate(315deg);
  /* Chrome, Safari, Opera */
  transform: rotate(315deg);
}

.girar-360 {
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -webkit-transform: rotate(360deg);
  /* Chrome, Safari, Opera */
  transform: rotate(360deg);
}

.flip {
  -moz-transform: scaleX(-1);
  /* Gecko */
  -o-transform: scaleX(-1);
  /* Opera */
  -webkit-transform: scaleX(-1);
  /* Webkit */
  transform: scaleX(-1);
  /* Standard */
}
