@import '~@angular/material/theming';
@import './clases_globales';
@include mat-core();

// Tema por defecto

$mytheme-app-primary: mat-palette($mat-blue, 900, 100, A700);
$mytheme-app-accent: mat-palette($mat-green, 900, 100, A700);
$mytheme-app-warn: mat-palette($mat-red);

$vain-tema-produccion: mat-light-theme($mytheme-app-primary,
  $mytheme-app-accent,
  $mytheme-app-warn);

@include angular-material-theme($vain-tema-produccion);
@include clases-globales($vain-tema-produccion);

