<mat-dialog-content [ngClass]="{'modal-intermedio': data.faseSelected, 'modal-pequeño': !data.faseSelected}"
cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <div class="row div-header-entorno grabbable" cdkDragHandle>
    <div class="col-9">
      <h1 mat-dialog-title class="titulo-modal"><span>&nbsp;&nbsp;<span>{{data.faseSelected ? 'Editar': 'Crear'}}</span> fase</span></h1>
    </div>
    <div class="col-3 justify-content-end d-flex">
      <button mat-icon-button color="warn" mat-dialog-close matTooltipClass="tooltip-entorno"
        [matTooltip]="'Cerrar ventana'">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col" *ngIf="data.faseSelected">
      <h5 class="titulo ml-1">Datos anteriores</h5>
      <div class="col-12">
        <mat-card>
          <div class="row mt-1 ml-1">
            <div class="col-4">
              <strong>Nombre:</strong>
            </div>
            <div class="col">
              {{data.faseSelected.nombreBackup}}
            </div>
          </div>
          <div class="row mt-4 ml-1">
            <div class="col-4">
              <strong>Abreviatura:</strong>
            </div>
            <div class="col">
              {{data.faseSelected.abreviaturaBackup}}
            </div>
          </div>
          <div class="row mt-4 ml-1">
            <div class="col-4">
              <strong>Antes de:</strong>
            </div>
            <div class="col">
              {{data.faseSelected.nombreBackup}}
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="col">
      <h5 *ngIf="data.faseSelected" class="titulo ml-1">Datos nuevos</h5>
    <div class="row">
      <div class="col-12">
        <mat-form-field class="col-md-12">
          <input autocomplete="off" matInput placeholder="Nombre" [(ngModel)]="nombre"/>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="col-md-12">
          <input autocomplete="off" matInput placeholder="Abreviatura" [(ngModel)]="abreviatura"/>
        </mat-form-field>
      </div>
      <div class="col-12">
        <div class="col-12">
          <ng-select
            [items]="fases"
            [multiple]="false"
            [closeOnSelect]="true"
            [searchable]="true"
            [(ngModel)]="antesDe"
            appendTo="body"
            notFoundText="No hay resultados"
            bindLabel="nombre"
            class="custom"
            bindValue="faseId"
            placeholder="Antes de">
        </ng-select>
        </div>
      </div>
    </div>
  </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end" style="margin-bottom: 0px; margin-right: 10px;">
  <button mat-raised-button type="submit" class="btn btn-verde-claro" (click)="guardar()">
    <mat-icon>save</mat-icon> <span>{{data.faseSelected ? 'Editar': 'Crear'}}</span> fase
</button>
</mat-dialog-actions>
